<nav class="navbar">
    <a [routerLink]="['/']">
        <header class="brand-name">
            <h1>Home</h1>
        </header>
    </a>
    <a [routerLink]="['/operadoras']">
        <header class="brand-name">
            <h1>Operadoras</h1>
        </header>
    </a>
    <a [routerLink]="['/pedagios']">
        <header class="brand-name">
            <h1>Pedagios</h1>
        </header>
    </a>
    <a [routerLink]="['/tarifas']">
        <header class="brand-name">
            <h1>Tarifas</h1>
        </header>
    </a>
</nav>