<mat-tab-group>
    @if (authService.isAdmin()) {
        <mat-tab label="Cadastrar Operadora">
            <app-operadoras-form></app-operadoras-form>
        </mat-tab>
    }
    <mat-tab label="Listar Operadoras">
        <app-operadoras-list></app-operadoras-list>
    </mat-tab>
    @if (authService.isAdmin()) {
        <mat-tab label="Atualizar Operadora">
            <app-operadoras-update></app-operadoras-update>
        </mat-tab>
    }
    @if (authService.isAdmin()) {
        <mat-tab label="Importar Operadoras">
            <app-csv-import
                apiUrl="http://localhost:9999/api/importar-operadoras"
                entityLabel="Operadoras"
                (imported)="onImported()"
            ></app-csv-import>
        </mat-tab>
    }
</mat-tab-group>
